//general
@import './vars.scss';
@import '~@fontsource/montserrat/index.css';  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif' ;
}

body{
  background-color: #434343;
}

header{
  background: black;
  color: red;
  height: 100px;
  padding: 50px 0;
}

main{
  background-color: rosybrown;
  color: white;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
  text-transform: uppercase;
}

input{
  outline: none;
}